---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import MenuButton from "../components/Menu/MenuButton.astro";
import MenuComponent from "../components/Menu/MenuComponent.astro";
import { SITE_TITLE } from "../consts";
const fontColor = "#f74376";
const backgroundColor = "#FBE7E6";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} preloadList={["/image/me_bw_optm.webp"]} />
  </head>
  <body style=`background-color: ${backgroundColor};`>
    <main class="h-max pb-10">
      <header class="flex justify-between px-4 pt-4">
        <a href={Astro.url.origin} id="page-name" style=`color: ${fontColor}` class=`text-4xl`>
          <div>SOCIALIZED</div><div>FILM</div><div></div>
        </a>
        <MenuButton fontColor={fontColor} />
      </header>
      <div class="flex flex-col items-center justify-center gap-10 pt-4" style={`color: ${fontColor}`}>
        <div class="w-screen bg-black">
          <section class="mx-auto grid w-[min(950px,90%)] items-center gap-8 bg-black py-8 sm:grid-cols-[300px_auto]">
            <Image
              src="/image/me_bw_optm.webp"
              height={1920}
              width={1280}
              title="Taken by @awesomephotosbylawson"
              alt={"Portrait of Tortrakul Wonglieng in black & white"}
            />
            <div class="flex flex-col gap-8 text-2xl text-white">
              <div class="text-8xl">Photographer</div>
              <div class="text-8xl">Programmer</div>
              <div class="text-8xl">Based in BKK</div>
            </div>
          </section>
        </div>
        <section class="flex w-[min(850px,90%)] flex-col items-center gap-8 text-2xl">
          <div>
            <frag><em>socialized.film</em> is a film photography</frag> page of <frag>Tortrakul Wonglieng.</frag>
            <frag>A photographer based in BKK.</frag>
          </div>
          <div>
            The 'socialized' part come from the introvertness of him that want to break of comfort zone and get to know
            people more through his photography.
          </div>
          <div>Along the way he learned both people skill and photography skill. Hence the 'film' part.</div>
        </section>
        <section class="flex w-[min(850px,90%)] flex-col items-center gap-8 text-2xl">
          <h1 class="text-4xl">As for the website idea</h1>
          <p>
            I'm not gonna lie. This website is heavily inspired by this website
            <frag>
              <a class="underline decoration-4" href="https://hito-iro.jp/">https://hito-iro.jp/</a>.
            </frag>
          </p>
          <p>
            I've always want to have a place to showcase my work in the entirety of it and not to be resctrict by any
            specific ratio. <spo>No clutter, no likes. just images.</spo>
          </p>
          <p>
            I like the simplicity of that website. It has enough theming to show character of the photographer and each
            albums. It also easy enough for me to code by myself.
          </p>
        </section>
        <section class="flex w-[min(850px,90%)] flex-col items-center gap-8 text-2xl">
          <h1 class="text-4xl">Credit</h1>
          <div class="grid grid-cols-2 gap-x-20">
            <div class="text-left">Photographer</div>
            <div class="text-right">Tortrakul Wonglieng</div>
            <div class="text-left">Frontend Developer</div>
            <div class="text-right">Tortrakul Wonglieng</div>
          </div>
        </section>
      </div>
    </main>
    <MenuComponent />
  </body>
</html>
