---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";
const fontColor = "#f74376";
const backgroundColor = "#FBE7E6";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body style=`background-color: ${backgroundColor};`>
    <main class="h-max pb-10">
      <header class="flex justify-between px-4 pt-4">
        <a href={Astro.url.origin} id="page-name" style=`color: ${fontColor}` class=`text-4xl`>
          <div>SOCIALIZED</div><div>FILM</div><div></div>
        </a>
        <div
          id="menu-icon"
          onclick="toggleMenu"
          style=`color: ${fontColor}`
          class="z-20 h-10 w-14 cursor-pointer text-4xl">
          <div style=`border-color: ${fontColor}` class=`border-b-2 h-2`></div>
          <div style=`border-color: ${fontColor}` class=`border-b-2 h-2`></div>
          <div style=`border-color: ${fontColor}` class=`border-b-2 h-2`></div>
        </div>
      </header>
      <div class="mx-auto grid w-[95vw] gap-8 px-8 pt-8 md:w-3/5 md:grid-cols-[3fr_5fr]">
        <img src="/image/me 120.jpg" alt="" />
        <div class="flex flex-col gap-8 text-2xl" style={`color: ${fontColor}`}>
          <div>
            <frag><em>socialized.film</em> is a film photography</frag> page of <frag>Tortrakul Wonglieng.</frag>
            <frag>A photographer based in BKK.</frag>
          </div>
          <div>
            The 'socialized' part come from the introvertness of him that want to break of comfort zone and get to know
            people more through his photography.
          </div>
          <div>Along the way he learned both people skill and photography skill. Hence the 'film' part.</div>
        </div>
      </div>
    </main>
    <div
      id="menu"
      class="absolute right-0 top-0 z-10 flex h-screen flex-col items-center justify-center gap-8 overflow-hidden bg-white bg-opacity-50 text-5xl font-light text-black transition-all duration-500 ease-out">
      <a href={Astro.url.origin}>Home</a>
      <div>Issues</div>
      <a href="/about"> About</a>
      <a href="https://www.instagram.com/socialized.film/" target="_blank" class="w-10">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
          ><path
            d="M256 49.5c67.3 0 75.2.2 101.8 1.4 24.6 1.2 37.9 5.3 46.8 8.7a77.6 77.6 0 0128.9 18.9 77.6 77.6 0 0118.9 28.9c3.4 8.9 7.5 22.2 8.7 46.8 1.2 26.6 1.4 34.5 1.4 101.8s-.2 75.2-1.4 101.8c-1.2 24.6-5.3 37.9-8.7 46.8a84.3 84.3 0 01-47.8 47.8c-8.9 3.4-22.2 7.5-46.8 8.7-26.6 1.2-34.5 1.4-101.8 1.4s-75.2-.2-101.8-1.4c-24.6-1.2-37.9-5.3-46.8-8.7a77.6 77.6 0 01-28.9-18.9 77.6 77.6 0 01-18.9-28.9c-3.4-8.9-7.5-22.2-8.7-46.8-1.2-26.6-1.4-34.5-1.4-101.8s.2-75.2 1.4-101.8c1.2-24.6 5.3-37.9 8.7-46.8a77.6 77.6 0 0118.9-28.9 77.6 77.6 0 0128.9-18.9c8.9-3.4 22.2-7.5 46.8-8.7 26.6-1.2 34.5-1.4 101.8-1.4m0-45.4c-68.4 0-77 .3-103.9 1.5S107 11.1 91 17.3a122.8 122.8 0 00-44.6 29.1A122.8 122.8 0 0017.3 91c-6.2 16-10.5 34.3-11.7 61.1S4.1 187.6 4.1 256s.3 77 1.5 103.9S11.1 405 17.3 421a122.8 122.8 0 0029.1 44.6A122.8 122.8 0 0091 494.7c16 6.2 34.3 10.5 61.1 11.7s35.5 1.5 103.9 1.5 77-.3 103.9-1.5 45.1-5.5 61.1-11.7a129.4 129.4 0 0073.7-73.7c6.2-16 10.5-34.3 11.7-61.1s1.5-35.5 1.5-103.9-.3-77-1.5-103.9-5.5-45.1-11.7-61.1a122.8 122.8 0 00-29.1-44.6A122.8 122.8 0 00421 17.3c-16-6.2-34.3-10.5-61.1-11.7S324.4 4.1 256 4.1z"
          ></path><path
            d="M256 126.6A129.4 129.4 0 10385.4 256 129.5 129.5 0 00256 126.6zm0 213.4a84 84 0 1184-84 84 84 0 01-84 84z"
          ></path><circle cx="390.5" cy="121.5" r="30.2"></circle></svg
        >
      </a>
    </div>
  </body>
</html>

<script>
  let menuIcon = document.getElementById("menu-icon");
  let menu = document.getElementById("menu");

  menuIcon?.addEventListener("click", function () {
    menu?.classList.toggle("in");
  });
</script>

<style>
  #menu {
    width: 0;
  }

  @media (width > 300px) {
    #menu.in {
      width: 100vw;
    }
  }

  @media (width > 768px) {
    #menu.in {
      width: 300px;
    }
  }
</style>
