---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import MenuButton from "../components/Menu/MenuButton.astro";
import MenuComponent from "../components/Menu/MenuComponent.astro";
import { SITE_TITLE } from "../consts";
import { getImage } from "astro:assets";
import albumMap from "../data-mapping/albumMap";
const fontColor = "#f74376";
const backgroundColor = "#FBE7E6";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body style=`background-color: ${backgroundColor};`>
    <main class="h-max pb-10">
      <header class="flex justify-between px-4 pt-4">
        <a href={Astro.url.origin} id="page-name" style=`color: ${fontColor}` class=`text-4xl`>
          <div>SOCIALIZED</div><div>FILM</div><div></div>
        </a>
        <MenuButton fontColor={fontColor} />
      </header>
      <div class="flex flex-col items-center justify-center gap-20" style={`color: ${fontColor}`}>
        <h1 class="text-6xl">Albums</h1>
        <div class="grid w-screen grid-cols-[repeat(auto-fit,minmax(150px,250px));] items-stretch gap-6 px-36">
          {
            albumMap.map((entry) => (
              <div class="relative">
                <img
                  decoding="async"
                  loading="lazy"
                  class="thumbnail aspect-square cursor-pointer object-cover drop-shadow-xl"
                  src={entry.imgPath}
                  style={`transform: rotate(${Math.random() * (2 - -2) + -2}deg);`}
                  alt=""
                  width={504}
                  height={640}
                />
                <div class="absolute bottom-2 flex w-full justify-center">{entry.albumName}</div>
              </div>
            ))
          }
        </div>
      </div>
      <MenuComponent />
    </main>
  </body>
</html>
