---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

interface Props {
  title: string;
  image?: string;
  preloadList?: string[];
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, image = "/image/000046.jpg", preloadList } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/poprumkiwi-telop-webfont.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/natsuzemi_maru_gothic_black-webfont.woff2" as="font" type="font/woff" crossorigin />

{preloadList?.map((preloadPath) => <link rel="preload" href={preloadPath} as="img" crossorigin />)}

<!-- Canonical URL -->
<link rel="canonical" href={Astro.url} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={SITE_DESCRIPTION} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={SITE_DESCRIPTION} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={SITE_DESCRIPTION} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
